PORT=3000
NODE_ENV=development

DB_NAME=reservo_db
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432

JWT_SECRET=un_secreto_muy_largo_y_seguro
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

REDIS_URL=redis://localhost:6379